# OS
#------------------------
.DS_Store


# Backups
#------------------------
*~
.*~
*.bk
*.bak


# Dirs
#------------------------
.ipynb_checkpoints
img
test/


# Python
#------------------------
__pycache__


# Pytorch
#------------------------
*.pt
